<section id='about' name='about'></section>
<div id='intro'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-2 col-lg-offset-1'>
                <h5>ABOUT</h5>
            </div>
            <div class='col-lg-6'>
                <p> I'm a software engineer with 4 years of professional
                experience. I'm interested in all kinds of programming and
                software, but my main focus is on web technologies and
                Openstack Cloud Computing.
                </p>
            </div><!-- /.col-lg-6 -->
            <div class='col-lg-3'>
                <p>
                    <a href='#'><i class='icon-file'></i></a>
                    <sm>DOWNLOAD</sm>
                </p>
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.intro -->