<div class='container'>
    <div class='jumbotron'>
        <a href='#/home'>
            <h3>
                <img src='img/icon_resume.png'>
                Home
            </h3>
        </a>
        <a href='#/page1'>
            <h3>
                <img src='img/icon_profile.png'>
                Page 1
            </h3>
        </a>
        <a href='#/page2'>
            <h3>
                <img src='img/icon_works.png'>
                Page 2
            </h3>
        </a>
        <a href='#/page3/'>
            <h3>
                <img src='img/icon_testimonials.png'>
                Page 3
            </h3>
        </a>
    </div>
</div>
