<section id='resume' name='resume'></section>
    <div class='container desc'>
        <div class='row'>
            <div class='col-lg-2 col-lg-offset-1'>
                <h5>EDUCATION</h5>
            </div>
            <div class='col-lg-6'>
                <p><t>Master of Computer Science</t><br/>
                    University of Florida <br/>
                    <i>College of Engineering</i>
                </p>
            </div>
            <div class='col-lg-3'>
                <p><sm>GRADUATING IN MAY 2015</sm><br/>
                <imp><sm>IN PROGRESS</sm></imp>
                </p>
            </div>
            <div class='col-lg-6'>
                <p><t>Bachelors in Computer Science</t><br/>
                    University of Florida<br/>
                    <i>College of Engineering</i>
                </p>
            </div>
            <div class='col-lg-3'>
                <p><sm>GRADUATED MAY 2012</sm></p>
            </div>
            < class='col-lg-6'>
                <p><t>Bachelors in Business Administration</t><br/>
                    University of Florida<br/>
                    <i>College of Business</i>
                </p>
            </div>
            <div class='col-lg-3'>
                <p><sm>GRADUATED MAY 2012</sm></p>
            </div>
        </div><!--/.row -->
    </div><!-- /.container desc