<div class='container'>
    <div class='header'>
        <h3 class='text-muted'>
            <a href='#/'>
                resumé
            </a>
        </h3>
    </div>
    <div class='jumbotron'>
        <div class='row'>
            <h3>Education</h3>
                <p>
                    Master of Computer Science
                </p>
                <p>
                    University of Florida
                </p>
                <p>
                    <i>College of Engineering</i>
                </p>
                <p>
                    Mayu 2015
                </p>
                <p>
                    Bachelors in Computer Science
                </p>
                <p>
                    University of Florida
                </p>
                <p>
                    <i>College of Engineering</i>
                </p>
                <p>May 2012</p>
                <p>Bachelors in Business Administration
                </p>
                <p>
                    University of Florida
                </p>
                <p>
                    <i>College of Business</i>
                </p>
                <p>May 2012</p>
        </div>
    </div>
</div>