<div class="cover-container">

  <div class="masthead clearfix">
    <div class="inner">
      <ul class="nav masthead-nav">
        <li class="active"><a href="./Cover Template for Bootstrap_files/Cover Template for Bootstrap.html">Home</a></li>
        <li><a href="#/resume">Resumé</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="inner cover">
    <h1 class="cover-heading">Tui Popenoe</h1>
    <p class="lead">Software Engineer / Web Designer / Thinker</p>
    <p class="lead">
      <a href="#/resume" class='btn btn-lg btn-default'>Learn more</a>
    </p>
  </div>

  <div class="mastfoot pull-right">
    <div class="inner">
      <p>&copy; Tui Popenoe 2014</p>
    </div>
  </div>

</div>
